.container {
  position: fixed;
  left: 0;
  top: 10%;
  display: flex;
  flex-direction: column;
}

/* .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  padding: 5px 10px;
} */
